{{#each this}}
<h2 class="title">{{this.name}}
    (native: {{this.nativeName}})
</h2>
<ul class="description">
    <li class="description_item">Capital: {{this.capital}}</li>
    <li class="description_item">Country population: {{this.population}}</li>
    <li>
        <ul class="description_item_list"> Languages:
            {{#each languages}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
    </li>
</ul>
<img class="flag" src={{this.flag}} width="500" height="400">
{{/each}}